#Cart {
  .section1 {
    background-image: url("https://res.cloudinary.com/drqaon7o8/image/upload/v1726950426/Rectangle_1_qnxkbf.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}
