#Inner {
  section {
    background: #fcf8f3;

    h2 {
      width: 422px;
      height: 96px;
      font-family: "Poppins" sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
    }
  }
}
